<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class=" w3-display-container  w3-row w3-grey"  style="padding-top:50px;padding-bottom:50px">
<div class="w3-half w3-center">
  <h2> Qu'est ce que le GIEC ? </h2>
<p>Le Groupe d’experts intergouvernemental sur l’évolution du climat (GIEC ou IPCC en anglais) a été créé en 1988 en vue de fournir des évaluations détaillées de l’état des connaissances scientifiques, techniques et socio-économiques sur les changements climatiques, leurs causes, leurs répercussions potentielles et les stratégies de parade.</p>
</div>
<div class="w3-half w3-center">
  <h2> Pour S'informer </h2>
</div>
<p> un autre site un autre podcast que vous connaissez ? contactez-nous !</p>

</div>